.custom-input {
    border-radius: 10px; /* Adjust the value as per your preference */
    background-color: #C5C6C7; /* Adjust the color as per your preference */
    border: #66FCF1 1px solid;
  }
  
.common-background{
    border-radius: 10px;
    color: #C5C6C7;
}
.title{
    color: #66FCF1;
}
.photo{
    border-radius: 8px;
}
.date{
    padding-right: 10px;
}